{% extends "layout.html" %}
{% block content %}
<div class="ManuForShowTable clearfix">
    <ul>
        <li><a href="{{ url_for('ShowSubjects') }}">   Предметы  </a></li>
        <li><a href="{{ url_for('ShowStudens') }}">    Студенты  </a></li>
        <li><a href="{{ url_for('ShowTeachers') }}">   Преподаватели </a></li>
        <li><a href="{{ url_for('ShowGroups') }}">     Группы     </a></li>
        <li><a href="{{ url_for('ShowClassrooms') }}"> Аудитории </a></li>
        <li><a href="{{ url_for('ShowLessons') }}">    Занятия      </a></li>
        <li><a href="{{ url_for('ShowDepartment') }}"> Факультеты</a></li>
    </ul>
</div>
<div class="ShowTable clearfix">
    <h1> Просмотр групп </h1>
    <table class="fontSizeBig">
        <tr>
            <th>id</th>
            <th>Номер группы</th>
            <th>Факультет</th>
        </tr>
        {% for s in vGroups %}
        <tr>
            <td>{{ s[0] }}</td>
            <td>{{ s[1] }}</td>
            <td>{{ s[2] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}